.header
{
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding:  0 5px;
}
.left 
{
    color: #02da89;
    font-size: 1.2rem;
    font-weight: 500;
}
.right a
{
 margin: 0 10px;
 transition: all 0.5s ease-in;
 position: relative;
}
.right a:hover
{
    color: #06d6a0;
}
.right a::before
{
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    background: #02da89;
    height: 2px;
    transition: all 0.5s ease-in;
}
.right a:hover::before
{
    width: 100%;
}
.footer
{
    background-color: #02da89;
    color: #ffffff;
    text-align: center;
    padding: 2px;
    margin-top: 50px;
}
.footer p
{
    font-size: 1.1rem;
    font-weight: 400;
}
.container
{
    min-height: 100vh;
}
.menu
{
    display: none;
    position: relative;
    cursor: pointer;
}
.menu ul
{
position: absolute;
width: 150px;
top: 30px;
right: -5px;
box-shadow: rgba(27, 28, 27, 0.123) 0px 4px 16px,
    rgba(9, 9, 14, 0.05) 0px 8px 32px;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    background-color: #ffff;
    list-style: none;
}
.menu ul li::before{
    content: "•  ";
    color: #02da89;
}
.menu ul li{
    position: relative;
    margin: 0 5px;
}
.menu ul li a::before
{
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    background: #02da89;
    height: 2px;
    transition: all 0.5s ease-in;
}
.menu ul li a:hover::before
{
    width: 100%;
}
@media (max-width:500px) {
.right
{
    display: none;
}
.menu
{
    display: inline-block;
}

}