.container
{
    margin: 20px 0;
}
.container h3
{
    font-size: 1.2rem;
    font-weight: 500;
    color: #02da89;
    margin-bottom: 20px;
}
.container li {
    font-size: 1.1rem;
    font-weight: 400;
    list-style: none;
    padding:2px;
    line-height: 30px;
  }
  
  .container li::before {
    content: "•  ";
    color: #02da89;
  }

  @media (max-width:550px) {
   .container li
   {
    margin-left: 5px;
    font-size: 0.9rem;
   }
}