.container
{
    max-width: 1100px;
    margin: auto;
}
.container h1
{
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: solid 5px #02da89;
    margin: 20px ;
    margin-left: 65px;
}
.subContainer
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
}
@media (max-width:450px) {
    .subContainer{
        margin: 0;
    }
}